main{
    width:90vw;
    margin: 15px auto;
}
h2{
    margin: 10px 0px;
}
div{
    width: 100%;
    margin-top: 35px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: blueviolet;
    line-height: 50px;
    color: white;
}
