<!-- <app-servers></app-servers> -->
<!-- <div app-servers></div> -->
<!-- <div class="app-servers"></div> -->
<!-- <app-practice002></app-practice002> -->
 <!-- <app-two-component></app-two-component> -->
<!-- <p>practice 001</p>
<app-practice001></app-practice001> -->
<!-- <app-direktive></app-direktive>
<p class="col-6" style="margin: 10px auto;" appBasicBackgroundHighlighte>this color comes from customer directive - dom</p>
<router-outlet />
<p class="col-6" style="margin: 10px auto;" appRenderBasicBackgroundHilighte colorElDefault="red" backgrounDefault01="yellow">this color comes from customer directive - rerendere</p> -->

<app-structure-directive></app-structure-directive>
<router-outlet />
